<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>

        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
    <form action="/create" method="post">
        <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg  bg-transparent " type="text" name="name" placeholder="User name">
        <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg  bg-transparent " type="text" name="email" placeholder="User email">
        <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg  bg-transparent " type="text" name="image" placeholder="image Url">
        <input class="px-5 py-2 bg-blue-600 rounded-lg ml-3 " type="submit" value="Create User">

    </form>

</div>

</body>
</html>